- form_for [:admin, @page] do |form|
  = form.error_messages

  = form.label :title
  = form.text_field :title

  = form.label :permalink
  = form.text_field :permalink

  = form.label :menu_title
  = form.text_field :menu_title

  = form.label :content
  = form.text_area :content

  = form.submit