<p>
  <b>Name:</b>
  <%= @page.title %>
</p>

<p>
  <b>Permalink:</b>
  <%= @page.permalink %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>

<p>
  <b>Position:</b>
  <%= @page.position %>
</p>

<p>
  <b>Handled by controller:</b>
  <%= @page.handled_by_controller %>
</p>

<p>
  <b>Home page:</b>
  <%= @page.home_page %>
</p>


<%= link_to 'Edit', edit_admin_page_path(@page) %> |
<%= link_to 'Back', admin_pages_path %>
