.comment{ :class => comment.email == CONFIG["pitslamp"]["gravatar_email"] ? "owner" : "" }
  %p.comment_meta
    = gravatar_for(comment, :size => 60).html_safe
    %span.reaction_time= "#{comment.created_at.strftime("%d %B %Y om %H:%M")}"
    %span.author= link_to_unless !comment.url, comment.author, comment.url, :class => "comment_author"
    

  %p.comment_content= comment.content

  - if admin?
    %p.admin= link_to "<img src=\"/images/delete.gif\" alt=\"Remove\" />", comment_path(comment), :confirm => 'Are you sure you want to destroy this comment?', :method => :delete, :title => "Remove this comment"