- form_for @comment, :url => post_comments_path(@post.permalink), :html => { :id => 'comment_input' } do |form|

  .comment_metadata
    = form.label :author, "Naam <span>Verplicht</span>".html_safe
    = form.text_field :author

    = form.label :email, "E-mailadres <span>Verplicht</span>".html_safe
    = form.text_field :email

    = form.label :url, "Website <span>Verplicht</span>".html_safe
    = form.text_field :url

    = form.label :spam, "Is vuur warm of koud? <span>Verplicht</span>".html_safe
    = form.text_field :spam

    = form.label :content, "Bericht <span>Verplicht</span>".html_safe
    = form.text_field :content, { "rows" => 9, "cols" => 29 }

    = form.submit "Toevoegen", :class => "button"