- if flash[:notice] && Rails.env.production?
  :javascript
    var google_conversion_id = 1038512191;
    var google_conversion_language = \"nl\";
    var google_conversion_format = \"2\";
    var google_conversion_color = \"ffffff\";
    var google_conversion_label = \"-ZszCN25tAEQv-CZ7wM\";
    var google_conversion_value = 0;
  %script{ :type => "text/javascript", :src => "http://www.googleadservices.com/pagead/conversion.js" }

%h3 Contact
%p.description alle velden zijn verplicht
- form_for @contact, :url => contacts_path, :class => "feedback" do |form|
  %span.input
    = form.label :email, "E-mail"
    = form.text_field :email
    
  %span.input
    = form.label :name, "Naam"
    = form.text_field :name
    
  %span.input
    = form.label :phone, "Telefoonnr."
    = form.text_field :phone
    
  %span.input
    = form.label :subject, "Onderwerp"
    = form.text_field :subject

  %span.text
    = form.label :content, "Bericht"
    = form.text_area :content

  %span.input
    = form.label :spam_check, "vuur is ..."
    = form.text_field :spam_check

  = form.submit "Verzenden"

