- if flash[:notice] && Rails.env.production?
  :javascript
    var google_conversion_id = 1038512191;
    var google_conversion_language = \"nl\";
    var google_conversion_format = \"2\";
    var google_conversion_color = \"ffffff\";
    var google_conversion_label = \"-ZszCN25tAEQv-CZ7wM\";
    var google_conversion_value = 0;
  %script{ :type => "text/javascript", :src => "http://www.googleadservices.com/pagead/conversion.js" }

#text_top
#text_content
  %h3 Contact
  - form_for @contact, :class => "feedback" do |form|
    = form.label :email, "E-mail"
    = form.text_field :email

    = form.label :name, "Naam"
    = form.text_field :name

    = form.label :spam_check, "Is vuur warm of koud?"
    = form.text_field :spam_check

    = form.label :subject, "Onderwerp"
    = form.text_field :subject

    = form.label :content, "Bericht"
    = form.text_area :content

    = form.submit "Verzenden"
#text_bottom
