- form_for [:admin, @post] do |form|
  = form.error_messages

  %span.input
    = form.label :title
    = form.text_field :title

  %span.text
    = form.label :content
    = form.text_area :content

  %span.input
    = form.label :author
    = form.text_field :author

  %span.input
    = form.label :permalink
    = form.text_field :permalink

  %span#datetime
    = form.label :published_at
    = form.datetime_select :published_at

  = form.submit