- form_for [:admin, @post] do |form|
  = form.error_messages

  = form.label :title
  = form.text_field :title

  = form.label :content
  = form.text_area :content

  = form.label :author
  = form.text_field :author

  = form.label :permalink
  = form.text_field :permalink

  = form.label :published_at
  = form.datetime_select :published_at

  = form.submit