.post
  %h3
    = link_to_unless_current post.title, post_path(post.permalink)
    %span.created
      = "#{post.published_at.strftime("%d %B %Y - %H:%M")}"
  %span.comments_count
    = link_to_unless_current "#{post.comments.count}", post_path(post.permalink)
    reacties

  = raw post.content
  
  %span.update
    = "(laatste update op: #{post.updated_at.strftime("%b %d, %Y om %H:%M")})"

  %h4
    = link_to_unless_current "#{post.comments.count} reacties op &quot;#{post.title}&quot;".html_safe, post_path(post.permalink)