.post
  %h3
    = link_to_unless_current post.title, post_path(post.permalink)
    %span.created
      = "#{post.published_at.strftime("%b %D %Y - %H:%M")}"
  %span.comment_count
    = link_to_unless_current "#{post.comments.count} reacties", post_path(post.permalink)

  = raw post.content

  %span.update
    = "(laatste update op: #{post.updated_at.strftime("%b %d, %Y om %H:%M")})"

  %span.link
    = link_to_unless_current "Lees meer", post_path(post.permalink)