%ul
  %li= link_to "pages", admin_pages_path
  %li= link_to "blog",  admin_posts_path
  %li= link_to "menu",  admin_menu_path
  %li= link_to "homepage",  admin_home_page_path
  %li= link_to "flickr",  admin_pictures_path