!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "verify-v1",           :content => "WJyLUFxGL0ix2O0T9gfq+/nDjkU7DL/rW+JOLsQz3+Y=" }

    %title
      = @title || "Pitslamp Fotografie"

    %link{ :rel => "shortcut icon",    :href => "/favicon.ico" }
    %link{ :rel => "apple-touch-icon", :href => "/apple-touch-icon.png" }

    = auto_discovery_link_tag :rss, posts_url(:format => :rss)

    = javascript_include_tag "jquery", "jquery-ui", "jquery.galleriffic", "rails", "application"

    = stylesheet_link_tag "theme", "gallery"
    /[if gte IE 7]
      = stylesheet_link_tag "theme.ie"

    = csrf_meta_tag

  %body#index{ :class => @body_style }
    #backgroundcontainer
      #container
        #branding
          %h1= link_to "PitsLamp", root_path
          #optional
            .vcard
              = link_to "PitsLamp Fotografie", "http://www.pitslamp.be", :class => "fn org url", :title => "PitsLamp &mdash; Fotografie &amp; webdesign"
              .adr
                .street-address De Langhestraat 7
                %span.postal-code 2800
                %span.locality Mechelen
              .tel_block
                %span.tel_label Bel mij:
                %span.tel +32 486 36 29 61
              %span.mail_label
                E.
                = link_to "info@pitslamp.be", "mailto:info@pitslamp.be", :class=> "email"

        #navigation
          %ul#nav_primary{ :class => @page ? @page.permalink : "" }
            - Page.order("position ASC").in_menu.each do |page|
              %li{ :id => page.permalink, :class => @selected_page == page.permalink ? "selected" : "" }= link_to page.menu_title, page.external_url? ? page.permalink : "/#{page.permalink}", :class => @selected_page == page.permalink ? "selected" : ""
        #content
          #content_primary
            - if flash[:notice]
              %p{ :style => "color: green;" }= flash[:notice]
              
            - if flash[:alert]
              %p{ :style => "color: red;" }= flash[:alert]
              
            - if admin?
              = render "layouts/admin_menu"
                  
            = yield
    - if Rails.env.production? && !admin?
      %script{ :src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript" }
      :javascript
        _uacct = "UA-2550570-1";
        urchinTracker();